// //solo va a afectar a lo que este deltro de ese componente
:host {
    display: block;
    margin: 5px ;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #00d4ff;
}
.caca{
    text-align: center;
    background-color:#273b47;
    margin: 0;
    padding: 20px;
    color: #fff;
}

img {
    max-width: 100%;
    height: 440px;
    display: block;
    margin: auto;
    border-radius: 5px;
}
.product {
    
    margin-top: 0px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}
// button {
//     background-color:#273b47;
//     width: 100%;
//     height: 50px;
//     color: #fff;
//     size: 20em;
//     border: none;
// }
// button:hover {
//     background-color:#fff;
//     transition: background-color 0.2s ease;
//     color: black;
    
// }