
<!-- estoy llamanfo al selector de mi directiva dentro de la etiqueta -->
<h2 appHighlight>{{ product.title | uppercase }}</h2> <!--este pipe transforma todo el texto a mayuscula-->

<img [src]="product.image"alt="" />

<p>{{ product.description | slice:0:20 }}</p><!--este pipe corta el texto a los 20 caracteres-->

<strong>{{ product.price | currency:"EUR":"symbol"}}</strong><!--este pipe te lo pone como un precio en euros-->

<button (click)="addCesta()" mat-raised-button color="primary">A&ntilde;adir a la cesta</button>

<button routerLink="{{product.id}}" mat-raised-button color="primary">Ver detalles</button>
