<!--Me saca un cuadro de texto donde escribo u al lado me saca lo que estoy escribiendo en tiempo real,
conectado con app.module.ts-->
<input type="text" [(ngModel)]="title"> 

<!-- String interpolation , cone sto puedes concatenar intrucciones javascript, title esta inicializaso en app.component.ts-->
{{ title }}

<!-- esto viene del selector que he creado en product.component.ts -->
<app-product></app-product>

<!--Permite poner condicionales, si es true lo de las comillas, me mostrara el div,
permite mostrar elementos dinamicamente
<div *ngIf="title === 'Olga'">
    Hola Olga
</div>
<div *ngIf="title === 'Vio'">
    Hola Violeta
</div>
<div *ngIf="title === 'Tania'">
    Hola Tania
</div>-->

<!-- para hacer condicionales con varias opciones, importante la comilladoble+simpre en los case -->
<div [ngSwitch]="title">
    <p *ngSwitchCase="'Olga'">Hola Olga</p>
    <p *ngSwitchCase="'Violeta'">Hola Violeta</p>
    <p *ngSwitchCase="'Tania'">Hola Tania</p>
    <p *ngSwitchDefault>No hay match</p>
</div>

<!--creo un boton para añadir item, click ejecutara un metodo que esta creado en componentes.ts-->
<br><button (click)=" addItem()">Agregar item</button>

<!--creo una lista y con *ngFor recorro el array items y voy sacando las posiciones en el elemento li 
    ejemplo:
    <p *ngFor="let name of items; index as pos">
        {{name}}, posicion array: {{ pos }}
    </p>-->
<ul>
    <!-- si ña lista esta vacía, me luestra el mensaje -->
    <li *ngIf="items.length === 0">La lista esta vacia</li>

    <li *ngFor="let name of items; index as pos">
        {{name}}, posicion array: {{ pos }}

        <!--generamos un boton que nos permite borrar el item en cada posicion-->
        <button (click)=" deleteItem(pos)">Borrar</button>
    </li>
</ul>

<!-- vamos a recorrer un array de objetos -->
<div *ngFor="let producto of products">
    {{ producto .title }}

    <!-- para sacar la imagen y no su url tenemos que ponerlo dentro de una etiqueta img,
         importante [] en el src -->
    <img [src]="producto.image" alt="">
    
    {{ producto .price }}
    

</div>





