<!-- para implementar la pipe que he creado -->
Introduce el numero que quieres elevar al cuadrado: 
<input type="text" [(ngModel)]="power"> 
{{ power | exponential }} <br><br>



<!--Me saca un cuadro de texto donde escribo u al lado me saca lo que estoy escribiendo en tiempo real,
conectado con app.module.ts-->
Introduce un nombre: 
<input type="text" [(ngModel)]="title"> 

<!-- String interpolation , cone sto puedes concatenar intrucciones javascript, title esta inicializaso en app.component.ts-->
<!-- {{ title }} -->

<!-- esto viene del selector que he creado en product.component.ts -->


<!--Permite poner condicionales, si es true lo de las comillas, me mostrara el div,
permite mostrar elementos dinamicamente
<div *ngIf="title === 'Olga'">
    Hola Olga
</div>
<div *ngIf="title === 'Vio'">
    Hola Violeta
</div>
<div *ngIf="title === 'Tania'">
    Hola Tania
</div>-->

<!-- para hacer condicionales con varias opciones, importante la comilladoble+simpre en los case -->
<div [ngSwitch]="title">
    <p *ngSwitchCase="'Olga'">Hola Olga</p>
    <p *ngSwitchCase="'Violeta'">Hola Violeta</p>
    <p *ngSwitchCase="'Tania'">Hola Tania</p>
    <p *ngSwitchDefault>No hay match</p>
</div>

<!--creo un boton para añadir item, click ejecutara un metodo que esta creado en componentes.ts-->
<br><button (click)=" addItem()">Agregar item</button>

<!--creo una lista y con *ngFor recorro el array items y voy sacando las posiciones en el elemento li 
    ejemplo:
    <p *ngFor="let name of items; index as pos">
        {{name}}, posicion array: {{ pos }}
    </p>-->
<ul>
    <!-- si ña lista esta vacía, me luestra el mensaje -->
    <li *ngIf="items.length === 0">La lista esta vacia</li>

    <li *ngFor="let name of items; index as pos">
        {{name}}, posicion array: {{ pos }}

        <!--generamos un boton que nos permite borrar el item en cada posicion-->
        <button (click)=" deleteItem(pos)">Borrar</button>
    </li>
</ul>

<!-- vamos a recorrer un array de objetos, me va a sacar directamente todas las 
propiedades del producto, el input entre [] y el outpu entre() , el metodo del output
lo creamos en app.components.ts-->
<div class="product-grid">
    <!-- angular directamente va a sacar $event del evento que hemos creado en product.component.ts,
    este es el componente padre que recibe la informacion del evento del hijo-->
    <app-product 
    *ngFor="let producto of products" 
    (productClicked)="clickProduct($event)" 
    [product]="producto"></app-product>
</div>



