// //archivo de estilos global

// body{
//     margin: 0px;
//     padding: 0px;
// }

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));// nos hará breakpoints cada 500px
    grid-gap: 50px 20px;
}

// @media (min-width: 576px){ //para poner en cada pantalla una generacion de los contenedores
//     .product-grid{
//         display: grid;
//         grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));// nos hará breakpoints cada 300px
//     }
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
